<ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
    <!--begin::Item-->
    <li class="breadcrumb-item text-muted">
        <a href="{{CONFIG.BASE_URL}}" class="text-muted text-hover-primary">{{__ 'Home'}}</a>
    </li>
    <!--end::Item-->

    {{#each breadcrumb}}
        <li class="breadcrumb-item">
            <span class="bullet bg-gray-400 w-5px h-2px"></span>
        </li>
        <li class="breadcrumb-item text-muted">
            {{#if this.link}}
                <a href="{{this.link}}" class="text-muted text-hover-primary" >{{this.title}}</a>
            {{else}}
                {{this.title}}
            {{/if}}
        </li>
    {{/each}}

</ul>

