<div class="app-container" id="itemContainer">
    <form id="itemForm" class="form" action="#"  enctype="multipart/form-data">
        <div class="card ">
            <div class="card-body pt-9 pb-0">
                <div class="d-flex flex-wrap flex-sm-nowrap">
                    <div class="me-7 mb-4">
                        <label class="d-block fw-semibold fs-6 mb-5">{{__ 'profile Photo'}}</label>
                        <style>.image-input-placeholder { background-image: url('{{CONFIG.BASE_URL}}dist/assets/media/svg/files/blank-image.svg'); } [data-theme="dark"] .image-input-placeholder { background-image: url('{{CONFIG.BASE_URL}}dist/assets/media/svg/files/blank-image-dark.svg'); }</style>
                        <div class="image-input image-input-outline image-input-placeholder" data-kt-image-input="true" style="margin-left: 20px;margin-right: 20px;">
                            <div class="image-input-wrapper w-125px h-125px" 
                            style="background-image: url('{{{bgImage}}}');"></div>
                            <label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change avatar">
                                <i class="bi bi-pencil-fill fs-7"></i>
                                <input type="file" name="profilePhoto" id="profilePhoto" accept=".png, .jpg, .jpeg" />
                                <input type="hidden" name="avatar_remove" />
                            </label>
                            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel avatar">
                                <i class="bi bi-x fs-2"></i>
                            </span>
                            <span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove avatar">
                                <i class="bi bi-x fs-2"></i>
                            </span>
                        </div>
                        <div class="form-text">Allowed file types: png, jpg, jpeg.</div>
                    </div>
            
                    <div class="flex-grow-1">
                         <div class="row g-9 " >
                            <div class="col-md-6 fv-row ">
                                <label class="required fw-semibold fs-6 mb-2">{{__ 'Military Number'}}</label>
                                <div class="input-group mb-5">
                                    <input type="number" class="form-control"  name="militaryNumber" id="militaryNumber"  aria-label="{{__ 'Military Number'}}" aria-describedby="basic-addon2" placeholder="{{__ 'Military Number'}}" value="{{data.militaryNumber}}">
                                    <span class="input-group-text" id="basic-addon2">
                                        <i class="fas fa-person-military-pointing fs-4"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-6 fv-row ">
                                <label class="required fw-semibold fs-6 mb-2">{{__ 'Username'}}</label>
                                <div class="input-group mb-0">
                                    <input type="text" class="form-control"  name="userName" id="userName"  aria-label="{{__ 'Username'}}" aria-describedby="basic-addon2" placeholder="{{__ 'Username'}}" value="{{data.userName}}">
                                    <span class="input-group-text" id="basic-addon2">
                                        <i class="fas fa-user fs-4"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row g-9 " >
                            <div class="col-md-6 fv-row mb-7">
                                <label class="required fw-semibold fs-6 mb-2">{{__ 'Full Name Arabic'}}</label>
                                <div class="input-group mb-0">
                                    <input type="text" name="fullNameAr" id="fullNameAr" class="form-control  mb-3 mb-lg-0" placeholder="{{__ 'Full name in Arabic'}}" value="{{data.fullNameAr}}" />
                                    <span class="input-group-text" id="basic-addon2">
                                        <i class="fas fa-language fs-4"></i>
                                    </span>
                                </div>
                            </div>

                            <div class="col-md-6 fv-row mb-7">
                                <label class="required fw-semibold fs-6 mb-2">{{__ 'Full Name English'}}</label>
                                <div class="input-group mb-0">
                                    <input type="text" name="fullNameEn" id="fullNameEn" class="form-control  mb-3 mb-lg-0" placeholder="{{__ 'Full name in English'}}" value="{{data.fullNameEn}}" />
                                    <span class="input-group-text" id="basic-addon2">
                                        <i class="fas fa-language fs-4"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">

                         <div class="row g-9 " >
                            <div class="col-md-6 fv-row fv-plugins-icon-container">
                                <label class="required fw-semibold fs-6 mb-2">{{__ 'Email'}}</label>
                                <div class="input-group mb-5">
                                    <input type="email" class="form-control "  name="email" id="email"  aria-label="{{__ 'Email'}}" aria-describedby="basic-addon2" placeholder="{{__ 'Email'}}" value="{{data.email}}">
                                    <span class="input-group-text" id="basic-addon2">
                                        <i class="fas fa-envelope-open-text fs-4"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6 fv-row">
                                <label class="required fw-semibold fs-6 mb-2">{{__ 'Mobile'}}</label>
                                <div class="input-group mb-5">
                                    <input type="text" class="form-control"  name="mobile" id="mobile"  aria-label="{{__ 'Mobile'}}" aria-describedby="basic-addon2" placeholder="{{__ 'Mobile'}}" value="{{data.mobile}}">
                                    <span class="input-group-text" id="basic-addon2">
                                        <i class="fas fa-mobile fs-4"></i>
                                    </span>
                                </div>
                            </div>
                        </div>

                        

                    </div>
                    <div class="card-footer">
                        <div class="text-center pt-0 ">
                            <button type="reset" class="btn btn-light me-3" data-kt-item-action="cancel">{{__ 'Discard'}}</button>
                            <button type="submit" class="btn btn-primary" data-kt-item-action="submit">
                                <span class="indicator-label">{{__ 'Save'}}</span>
                                <span class="indicator-progress">{{__ 'Please wait...'}}
                                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                            <input type="hidden" name="mode" id="mode" value="{{mode}}">
                            <input type="hidden" name="employeeID" id="employeeID" value="{{data.employeeID}}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6">
                <div class="card mb-5 mb-xl-8">
                    <div class="card-body py-3 ">
                        
                        <div class="fv-row mb-7">
                            <label class="required fs-6 fw-semibold mb-2">{{__ 'User Role'}}</label>
                            <select class="form-select " data-control=""  data-placeholder="{{__ 'Select user role'}}" name="userType" id="userType" onchange="PrivilegeChange()" >
                                <option></option>
                                <option value="SUPER-ADMIN" {{#compare data.userType '===' 'SUPER-ADMIN'}}selected{{/compare}}>{{__ 'Super Admin'}}</option>
                                <option value="ADMIN" {{#compare data.userType '===' 'ADMIN'}}selected{{/compare}} >{{__ 'Admin'}}</option>
                                <option value="USER" {{#compare data.userType '===' 'USER'}}selected{{/compare}}>{{__ 'User'}}</option>
                                <option value="COMPETENCY-USER" {{#compare data.userType '===' 'COMPETENCY-USER'}}selected{{/compare}}>{{__ 'Competency User'}}</option>
                                <option value="HR-USER" {{#compare data.userType '===' 'HR-USER'}}selected{{/compare}}>{{__ 'HR User'}}</option>
                                <option value="DEPARTMENT-HEAD" {{#compare data.userType '===' 'DEPARTMENT-HEAD'}}selected{{/compare}}>{{__ 'Department Head'}}</option>
                            </select>
                        </div>
                        <div class=""  id="PrivilegeDiv" style="display: none !important;">
                            <div class="d-flex flex-column mb-8 fv-row">
                                <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                    <span class="required">{{__ 'Privileges'}}</span>
                                    <i class="fas fa-exclamation-circle ms-2 fs-7" data-bs-toggle="tooltip" title="{{__ 'Please chose the privileges'}}"></i>
                                </label>
                                <input class="form-control " value="{{data.userPrivileges}}" name="userPrivileges" id="userPrivileges" placeholder="{{__ 'Privileges'}}" />
                            </div>
                        </div>
                        
                        <div class="row g-9 mb-8" data-select2-id="select2-data-123-s6w3" id="PasswordDiv" >
                            <div class="col-md-6 fv-row fv-plugins-icon-container" >
                                <label class="fw-semibold fs-6 mb-2 {{#compare mode '===' 'add'}}required{{/compare}} ">{{__ 'Password'}}</label>
                                <input type="password" name="password" id="password" class="form-control  mb-3 mb-lg-0" placeholder="{{__ 'Password'}}"   />
                            </div>
                            <div class="col-md-6 fv-row">
                                <label class="fw-semibold fs-6 mb-2 {{#compare mode '===' 'add'}}required{{/compare}}">{{__ 'Confirm'}}</label>
                                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control mb-3 mb-lg-0" placeholder="{{__ 'Confirm password'}}" />
                            </div>
                        </div>  

                        <div class="fv-row mb-5 mt-3">
                            <div class="d-flex flex-stack">
                                <div class="me-5">
                                    <label class="fs-5 fw-semibold">{{__ 'Enable Active directory Authentication ?'}}</label>
                                    <div class="fs-7 fw-semibold text-muted">{{__ 'login by active directory user name and password'}}</div>
                                </div>
                                <label class="form-check form-switch form-check-custom form-check-solid">
                                    <input class="form-check-input" name="ADLogin" id="ADLogin" type="checkbox" value="1" {{#if data.ADLogin}}checked="checked"{{/if}}>
                                    <span class="form-check-label fw-semibold text-muted" id="ADYesOrNo">{{__ 'Yes'}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </form>
</div>

<script type="text/javascript">
    "use strict";
    let employeeID = ($('#employeeID').val())?$('#employeeID').val():0
    PrivilegeChange()
    KTImageInput.init()
    var KTAddItem = function () {
        const element = document.getElementById('itemContainer');
        const form = element.querySelector('#itemForm');
        // Init add schedule modal
        var initAddItem = () => {
            // Init form validation rules. For more info check the FormValidation plugin's official documentation:https://formvalidation.io/
            var validator = FormValidation.formValidation(
                form,
                {
                    fields: {
                         'userName': {
                            validators: {
                                notEmpty: {
                                    message: '{{__ "user name is required"}}'
                                }
                            }
                        },
                         'fullNameEn': {
                            validators: {
                                notEmpty: {
                                    message: '{{__ "Full name English is required"}}'
                                }
                            }
                        },
                         'fullNameAr': {
                            validators: {
                                notEmpty: {
                                    message: '{{__ "Full name arabic is required"}}'
                                }
                            }
                        },
                         'userType': {
                            validators: {
                                notEmpty: {
                                    message: '{{__ "User Roleis is required"}}'
                                }
                            }
                        },
                         'mobile': {
                            validators: {
                                notEmpty: {
                                    message: '{{__ "Mobile Number required"}}'
                                },
                                phone: {
                                    value: '(+971) 52 794 7523',
                                    options: {
                                        country: 'AE',
                                        message: '{{__ "The value is not a valid phone number"}}',
                                    },
                                }
                                
                            }
                        },
                        'email': {
                            validators: {
                                notEmpty: {
                                    message: '{{__ "email address is required"}}'
                                },
                                emailAddress:{
                                    message: '{{__ "Valid email address is required"}}'
                                }
                            }
                        },
                         'militaryNumber': {
                            validators: {
                                notEmpty: {
                                    message: '{{__ "Military Number is required"}}'
                                }
                            }
                        },
                
                        'departmentID': {
                            validators: {
                                notEmpty: {
                                    message: '{{__ "Please chose the department"}}'
                                }
                            }
                        },
                        'courseLevelID': {
                            validators: {
                                notEmpty: {
                                    message: '{{__ "Please chose the course Level"}}'
                                }
                            }
                        },
                        
                    },
                    plugins: {
                        trigger: new FormValidation.plugins.Trigger(),
                        bootstrap: new FormValidation.plugins.Bootstrap5({
                            rowSelector: '.fv-row',
                            eleInvalidClass: '',
                            eleValidClass: ''
                        }),
                        
                    }
                }
            );
            // Submit button handler
            const submitButton = element.querySelector('[data-kt-item-action="submit"]');
            submitButton.addEventListener('click', e => {
                e.preventDefault();
                // Validate form before submit
                if (validator) {
                    validator.validate().then(function (status) {
                        if (status == 'Valid') {
                            // Show loading indication
                            submitButton.setAttribute('data-kt-indicator', 'on');
                            // Disable button to avoid multiple click 
                            submitButton.disabled = true;
                            const formData = new FormData(validator.form); 
                            
                            if($('#mode').val() === 'add' && ($('#password').val() === '' || $('#confirmPassword').val() === '')){
                                submitButton.setAttribute('data-kt-indicator', 'off');
                                submitButton.disabled = false;
                                PSA.toast.error("{{__ 'Password is required, please try again!'}} ")
                            }
                            else if($('#password').val() === $('#confirmPassword').val()){
                                request('{{CONFIG.BASE_URL}}employee', {
                                    method: 'POST',
                                    files: true,
                                    body: formData
                                })
                                .then(response => {
                                    //console.log(response)
                                    if(response && response.success){
                                        if($('#mode').val() == 'add'){
                                            PSA.toast.success("{{__ 'employee created successfully'}} ")
                                            $('#mode').val('edit') 
                                            $('#employeeID').val(response.employeeID) 
                                            employeeID = response.employeeID
                                        }
                                        else{
                                            PSA.toast.success("{{__ 'employee updated successfully'}} ")
                                        }
                                    }
                                    else{
                                        PSA.toast.error("{{__ 'Username already taken, Please try another one!'}} ")
                                    }
                                    submitButton.setAttribute('data-kt-indicator', 'off');
                                    submitButton.disabled = false;
                                })
                                .catch(PSA.exception.catch)
                            }
                            else{
                                submitButton.setAttribute('data-kt-indicator', 'off');
                                submitButton.disabled = false;
                                PSA.toast.error("{{__ 'Password not matchin, please try again!'}} ")
                            }
                            
                        } else {
                            Swal.fire({
                                text: '{{__ "Sorry, looks like there are some errors detected, please try again."}}',
                                icon: "error",
                                buttonsStyling: false,
                                confirmButtonText: "{{__ 'ok'}}",
                                customClass: {
                                    confirmButton: "btn btn-primary"
                                }
                            });
                        }
                    });
                }
            });

            const cancelButton = element.querySelector('[data-kt-item-action="cancel"]');
            cancelButton.addEventListener('click', e => {
                e.preventDefault();
                window.location.replace(`{{CONFIG.BASE_URL}}employee`)
            });

            var tags = new Tagify(form.querySelector('[name="userPrivileges"]'), {
                whitelist: [
                    { value: 'VIEW', textEn: 'View', textAr: 'منظر' },
                    { value: 'EDIT', textEn: 'Edit', textAr: 'يحرر' },
                    { value: 'DELETE', textEn: 'Delete', textAr: 'يمسح' },
                    { value: 'INIT_APPROVE', textEn: 'Initial Approval', textAr: 'موافقة مبدئية' },
                    { value: 'FINAL_APPROVE', textEn: 'Final Approval', textAr: 'الموافقة النهائية' },
                    { value: 'ATTENDANCE', textEn: 'Attendance', textAr: 'حضور' },
                ],
                maxTags: 7,
                tagTextProp: getLang() == 'ar' ? 'textAr' : 'textEn', 
                dropdown: {
                    maxItems: 7,           // <- mixumum allowed rendered suggestions
                    enabled: 0,             // <- show suggestions on focus
                    closeOnSelect: false ,   // <- do not hide the suggestions dropdown once an item has been selected
                    searchKeys:['value','textEn','textAr'],
                    mapValueTo:getLang() == 'ar' ? 'textAr' : 'textEn'
                }
                
            });
            tags.on("change", function(){
                // Revalidate the field when an option is chosen
                validator.revalidateField('tags');
            });
            $('#userType').select2()
            $('#courseLevelID').select2()
            $('#departmentID').select2()
        }
        return {
            // Public functions
            init: function () {
                initAddItem();
            }
        };
    }();
    // On document ready
    KTUtil.onDOMContentLoaded(function () {
        KTAddItem.init();
    });

    function DepChange(ref){
        let departmentID = (ref.value)?ref.value:ref
        if(departmentID){
            request(`/employee/${departmentID}/checkParentDep`)
            .then(response => {
                if (response && response.level) {
                     for(let i = response.level;i<=5;i++){
                        $('#Dep'+i).html(null);
                        $('#Dep'+i).hide();
                    }
                    if(response.html){
                        $('#Dep'+response.level).html(response.html);
                        $('#departmentID'+response.level).select2();
                        $('#Dep'+response.level).show('slow');
                    }
                } else {
                    PSA.toast.error('{{__ "Something went wrong, please try again"}}','{{__ "Error"}}')
                }
            })
            .catch(PSA.exception.catch)
            }
    }

    $('#militaryNumber').change(function(){
        let militaryNumber = $('#militaryNumber').val()
        //console.log(militaryNumber)
        request(`/employee/${militaryNumber}/fetchStaffFromHCM`)
            .then(response => {
                if (response && response.employeeID == militaryNumber) {
                    $('#userName').val(response.employeeEmail.split('@')[0])
                    $('#fullNameAr').val(response.arabicEmployeeName)
                    $('#fullNameEn').val(response.englishEmployeeName)
                    $('#mobile').val(response.employeeMobileNo)
                    $('#email').val(response.employeeEmail)
                } else {
                    PSA.toast.error('{{__ "Something went wrong, please try again"}}','{{__ "Error"}}')
                }
            })
            .catch(PSA.exception.catch)
    })

    function PrivilegeChange(){
        let userType = $('#userType').val()
        if(userType && userType === 'COMPETENCY-USER'){
            $('#PrivilegeDiv').show('slow')
        }
        else{
            $('#PrivilegeDiv').hide('slow')
        }
    }

</script>



